notes.txt
databasedotcom-oauth2-0.0.1.gem

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/databasedotcom-oauth2.iml

.idea/.rakeTasks

.idea/.name
